<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<mat-toolbar [color]="selectedColor"  *ngIf="verificar()">
  <!--style="background-color: #4CAF50; color: white;"-->
  <!-- colores:primary, accent, warn, mat-red, mat-blue  -->

  <mat-icon>menu</mat-icon>
  <span style="padding: 5px;"></span>

  <button mat-button [matMenuTriggerFor]="menuUniversity" *ngIf="validarRol()">University</button>
  <span style="padding: 5px;"></span>
  <button mat-button [matMenuTriggerFor]="menuStudents">Students</button>
  <span style="padding: 5px;"></span>
                            
  <button mat-button [matMenuTriggerFor]="menuReportes">Reportes</button>
  <div class="center-content" >
    
  <button mat-button [matMenuTriggerFor]="menuSalir"  >Usuario</button>
</div>

<mat-radio-group [(ngModel)]="selectedColor" style=" color: wh">
  <mat-radio-button value="primary">Primary</mat-radio-button>
  <mat-radio-button value="accent">Accent</mat-radio-button>
  <mat-radio-button value="warn">Warn</mat-radio-button>
</mat-radio-group>






</mat-toolbar>

<mat-form-field>
  <mat-label>Seleccionar Color</mat-label>
  <mat-select [(value)]="selectedColor" (selectionChange)="cambiarColor($event.value)">
    <mat-option value="primary">Primary</mat-option>
    <mat-option value="accent">Accent</mat-option>
    <mat-option value="warn">Warn</mat-option>
  </mat-select>
</mat-form-field>

<mat-menu #menuUniversity="matMenu">
  <button mat-menu-item routerLink="components/university/crear" *ngIf="role == 'ADMINISTRADOR'">Registrar</button>
  <button mat-menu-item routerLink="components/university/lista">Listar</button>
  <button mat-menu-item routerLink="components/university/reporte">Buscar</button>
</mat-menu>

<mat-menu #menuStudents="matMenu">
  <button mat-menu-item routerLink="components/students/nuevo" *ngIf="role == 'ADMINISTRADOR'">Registrar Ingrediente</button>
  <button mat-menu-item routerLink="components/students">Listar Ingrediente</button>
</mat-menu>

<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="components/reportes">Reporte01</button>
</mat-menu>
<mat-menu #menuSalir="matMenu">
  <button mat-menu-item > <i class="fa-solid fa-user"> </i> <span>{{username}}</span>
  </button>
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>

  </button>
  <button mat-menu-item >Rol:
    <span>{{role}}</span>
  </button>
  
</mat-menu>

<router-outlet></router-outlet>

